# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.log
appsettings.Development.json

# Angular
node_modules/
dist/
.angular/
*.tsbuildinfo

# IDE
.vs/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Environment
.env
*.env.local